$main-color: #ff6060;

$main-text-color: #000000;
$light-text-color: #ffffff;

$main-background-color: #ffffff;
$sec-background-color: #f6f6f6;

$corner-radius-s: 10px;
$corner-radius-l: 25px;

$breakpoint-s-m: 768px;
$breakpoint-m-l: 992px;
$max-content-width: 1240px;
$outer-padding-s: 20px;
$outer-padding-l: 45px;
